{% extends "base.html" %}
{% block title %}
Contact
{% endblock title %}
{% block body %}
<div class="containers">
        <div class="card-header">
          <div class="card-body">
            <h3 class="card-title">Email: bookkarro1234@gmail.com</h3>
            <br>
          </div>
          <h5 class="card-title text-white">Email, "name", Address, Facilities ,Price ,Area ,Landmark and code you want for your Post. </h5>
          <br> 
        <h5 class="card-title text-white">We will contact you shortly and tell you about the charges for your property to be listed.</h5> 
        <br>
      </div>
    </div>
      {% endblock body %}