{% extends "base.html" %}
{{% block title %}
search_results
{% endblock title %}}
{% block body %}
{% if searched %}
    {% for post in find%}
        <div class="col-sm-6" style="width: 100%">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title   text-dark">{{post.username}}</h5>
                    {% if post.main_image %}
                        <img class="d-block w-100" src="{{post.main_image.url}}">
                    {% endif %}            
                    <h5 class="card-title text-dark">{{post.title}}</h5>
                    <h5 class="card-title">{{post.date}}</h5>
                    <p class="card-text text-dark">{{post.address}}</p>
                <br/>
                    <p class="card-text text-dark">Price:{{post.price}}</p>
                    <a href="{%url 'article' post.pk %}" class="btn btn-primary">See post by {{post.username}}</a>
                    <br/>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}  
<h1>Don't be meaningless</h1>
{% endif %}
{% endblock body %}